<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- My Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">

     <!-- My CSS -->
     <link rel="stylesheet" href="style.css">

    <title>Challenge Chapter 3</title>
  </head>
  <body>
    
    <!-- Landing Page -->
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Work</a>
            <a class="nav-item nav-link" href="#">Contact</a>
            <a class="nav-item nav-link" href="#">About Me</a>
          </div>
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link btn btn" href="/signup">Sign Up</a>
            <a class="nav-item nav-link btn btn" href="/login">Login</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- Akhir Navbar -->

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Play Traditional Game</h1>
        <h3 class="head">Experience new traditional game</h3>
        <a href="" class="btn tombol">PLAY NOW</a>
        <a class="button-scroll" href="#">THE STORY</a>
        <a class="btn btn-md" href="#"><img src="./images/scroll down.png" alt=""></a>
      </div>
    </div>
    <!-- Akhir Jumbotron -->
    <!-- Akhir Landing Page -->

    <!-- Start The Games Page -->
    <section id="thegames">
      <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-lg-4">
          <h3 class="thegames-h3">What's so special?</h3>
          <h1 class="thegames-h1">THE GAMES</h1>
        </div>
        <div class="col-lg-8">
          <div class="slider">
            <div class="images">
              <input type="radio" name="slide" id="img1" checked>
              <input type="radio" name="slide" id="img2">
              <input type="radio" name="slide" id="img3">
              <input type="radio" name="slide" id="img4">
              <input type="radio" name="slide" id="img5">
              
              <img src="./images/rockpaperstrategy-1600 1.png" class="m1" alt="img1">
              <img src="./images/rockpaperstrategy-1600 1.png" class="m2" alt="img2">                
              <img src="./images/rockpaperstrategy-1600 1.png" class="m3" alt="img3">              
              <img src="./images/rockpaperstrategy-1600 1.png" class="m4" alt="img4">               
              <img src="./images/rockpaperstrategy-1600 1.png" class="m5" alt="img5">
            </div>
            <div class="dots">
              <label for="img1"></label>
              <label for="img2"></label>
              <label for="img3"></label>
              <label for="img4"></label>
              <label for="img5"></label>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>
    <!-- End The Games Page -->

    <!-- Start Features Page -->
    <section id="features">
      <div class="container-fluid padding">
      <div class="row padding">
        <div class="row-lg-3">
          <h3 class="features-h3">What's so special?</h3>
          <h1 class="features-h1">FEATURES</h1>
          <h4 class="features-h4">TRADITIONAL GAMES</h4>
            <p class="paragraf-h4">If you miss your childhood, we provide many traditional games here</p>
          <h5 class="features-h5">GAME SUIT</h5>
          <h5 class="features-h5">TBD</h5>
        </div>
      </div>
      </div>
    </section>
    <!-- Akhir Features Page -->

    <!-- Start  System Requirements Page-->
    <section id="requirements">
      <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-lg-6">
          <h1 class="requirements-h1">SYSTEM REQUIREMENTS</h1>
          <div class="wrapper">
            <div class="box box1">
              <h5>OS</h5>
              <p>Windows 7 64-bit only (No OSX support at this time)</p>
            </div> 
            <div class="box box2">
              <h5>PROCESSOR</h5>
              <p>Intel Core 2 Duo @ 2.4 GHZ or AMD Athlon X2 @ 2.8 GHZ</p>
            </div>
            <div class="box box3">
              <h5>MEMORY</h5>
              <p>4 GB RAM</p>
            </div>
            <div class="box box4">
              <h5>storage</h5>
              <p>8 GB available space</p>
            </div>
            <div class="box box5">
              <h5>GRAPHICS</h5>
              <p>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <h3 class="requirements-h3">Can My Computer Run this Game?</h3>
        </div>
      </div>
      </div>
    </section>
    <!-- End System Requirements Page -->

    <!-- Start Top Scores Page -->
    <section id="scores">
      <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-lg-5">
          <h1 class="scores-h1">TOP SCORES</h1>
            <p class="paragraf-h1">This top score from various games provided on this platform</p>
          <a href="" class="btn tombol">see more</a>
        <div class="col-lg-6"></div>
          <div class="flex-container">
            <div class="flex-box box6">
              <h6 class="flex-box-h6">Evan Lahti</h6>
              <h5 class="flex-box-h5">PC Gamer</h5>
              <p>"One of my gaming highlights of the year"</p>
              <h2>October 18, 2018</h2>
            </div>
            <div class="flex-box box7">
              <h6 class="flex-box-h6">Jada Griffin</h6>
              <h5 class="flex-box-h5">Nerdreactor</h5>
              <p>"The next big thing in the world of streaming and survival games"</p>
              <h2>December 21, 2018</h2>
            </div>
            <div class="flex-box box8">
              <h6 class="flex-box-h6">Aaron Williams</h6>
              <h5 class="flex-box-h5">Uproxx</h5>
              <p>"Snoop Dogg Playing The Wildly Entertaining 'SOS' is ridiculous"</p>
              <h2>December 24, 2018</h2>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- Akhir Top Scores Page -->

    <!-- Start Subscribe -->
    <section id="subscribe">
      <div class="container-fluid padding">
      <div class="row padding">
        <div class="col-lg-4">
          <img src="./images/image.png">
        </div>
        <div class="col-lg-6">
          <h3 class="subscribe-h3">Want to stay in touch?</h3>
          <h1 class="subscribe-h1">NEWSLETTER SUBSCRIBE</h1>
          <p class="paragraf-p">In order to stay receiving our newstalk you have to do is enter yout email address. Everything else will be taken. We weill send you emails containing information about game. We don't spam.</p>
          <div class="email-box">
            <input class="tbox" type="email" name="" value="" placeholder="youremail@binar.co.id">
            <div class="button">
              <a href="" class="btn-tmbl">Subscribe now</a>
            </div>
          </div>
          
        </div>
      </div>
      </div>
    </section>
    <!-- End Subscribe -->

  </body>
</html>