/* Navbar */
.navbar-brand {
    font-family: Open;
    font-size: 24px;
    margin-right: 150px;
    color: #fff;
    letter-spacing: 2px;
}

/* Tombol */
.tombol {
    color: #000;
    font-family: arial;
    font-style: bold;
    background-color: #ffb458;
    border: none;
    padding: 15px 85px;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 10px;
}

/* Button */
.jumbotron .btn-md {
    margin-top: -510px;
    align-items: center;
    color: #fff;
    background-color: transparent;
    border: none;
}

.button-scroll {
    color: #fff;
    margin: 250px;
    font-size: 12px;
    display: block;
    border: 2px;
}

.button-scroll:hover::after {
    color: #fff;
    display: block;
    margin: auto;
}

/* Jumbotron */
.jumbotron {
    background-image: url(images/main-bg.jpg);
    background-size: cover;
    height: 960px;
    text-align: center;
}

.jumbotron .display-4 {
    color: #fff;
    margin-top: 250px;
    text-transform: uppercase;
    font-family: Arial;
    letter-spacing: 4px;
    font-weight: bold;
}

.jumbotron .head {
    color: white;
    margin-top: 45px;
    font-family: Arial;
    font-weight: 100;
    letter-spacing: 2px;
    line-height: 27px;
    font-size: 24px;
}
     
/* Games Page */
.section-about {
    margin-top: -40px;
    border: none;
    background-size: cover;
   
}

/* DESKTOP VERSION */
@media (min-width: 992px) {
    .navbar-brand, .nav-link {
        color: #fff !important;
        font-style: bold;
    }
    
    .navbar {
        background: rgba(0,0,0,0.5);
    }
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
        font-size: 12px;
        color: #fff;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 1px solid #0b63dc;
        margin: auto;
    }

    .jumbotron {
        margin-top: -75px;
    }
}

/* The Games Page */

#thegames {
    background-image: url(./images/the-games-bg.jpg);
    background-size: cover;
    height: 960px;
    padding: 200px 105px;
    padding-bottom: 282px;
    padding-left: 79px;
    margin-top: -50px;
}

#thegames .thegames-image {
    height: 858px;
    width: 477px;
    margin-top: 110px;
    margin-right: -80px;
    vertical-align: center;
}

#thegames .thegames-h3 {
    color: #fff;
    margin-top: 70px;
    margin-left: 10px;
    font-size: 24px;
    font-family: Arial;

}

#thegames .thegames-h1 {
    color: #fff;
    letter-spacing: 3px;
    font-family: Arial;
    font-size: 56px;
    position: absolute;
    text-align: left;
    margin-left: 10px;
}

/* slider */
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 110px;
    margin-left: -40px;
}

.images {
    display: flex;
    width: 100%;
}

.images img{
    height: 100%;
    width: 100%;
    transition: all 0,15s ease;
}

.images input {
    display: none;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.dots label {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: solid #fff 2px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 20px;
    margin-top: -25px;
}

.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}

/* Features Page */
#features{
    background-image: url(./images/features.jpg);
    background-size: cover;
    height: 870px;
    padding: 170px 236px;
    padding-bottom: 282px;
    padding-left: 79px;
}

#features .features-h3 {
    color: #fff;
    margin-left: 796px;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
    
}
    
#features .features-h1 {
    color: #fff;
    margin-top: 10px;
    margin-left: 796px;
    letter-spacing: 3px;
    font-family: Arial;
    font-size: 56px;
    text-align: left;
 }

#features .features-h4{
    color: #ffb458;
    margin-left: 836px;
    margin-top: 70px;
    text-align: left;
    font-family: Arial;
    font-size: 24px;
}

#features .paragraf-h4 {
    color: #fff;
    margin-left: 836px;
    margin-top: 10px;
    margin-block-end: 20px;
    text-align: left;
    font-family: Open;
    font-size: 18px;
    text-align: justify;
}

#features .features-h5{
    color: #ffb458;
    margin-left: 836px;
    margin-top: 50px;
    text-align: left;
    font-family: Arial;
    font-size: 25px;
}

#requirements{
    background-image: url(./images/requirements.png);
    background-size: cover;
    height: 870px;
    padding: 90px 236px;
    padding-bottom: 282px;
    padding-left: 79px;
}

.requirements-h3 {
    color: #fff;
    font-size: 14px;
    font-family: Arial;
    text-align: center;
    margin-bottom: -80px;
    letter-spacing: 2px;
    margin-left: -270px;
    margin-top: 15px;

}

.requirements-h1 {
    color: #fff;
    letter-spacing: 3px;
    font-family: Arial;
    font-size: 56px;
    position: absolute;
    text-align: left;
    margin-left: 10px;
}

/* Top Scores */
#scores {
    background-image: url(./images/the-games-bg.jpg);
    background-size: cover;
    height: 960px;
    padding: 90px 236px;
    padding-bottom: 282px;
    padding-left: 79px;
}

#scores .scores-h1 {
    color: #fff;
    margin-top: 230px;
    margin-left: 10px;
    font-size: 50px;
    font-family: Arial;
    letter-spacing: 2px;
}

#scores .paragraf-h1 {
    color: #fff;
    font-family: Arial;
    font-size: 17px;
    position: absolute;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}

/* Flexbox */

.flex-container{
  width: 100%;
  height: auto;
  margin-top: -400px;
  flex-direction: column;
}

.flex-box {
  margin-left: 650px;
  margin-block-end: 30px;
  padding: 20px;
  width: 400px;
  height: 195px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.box6 {
  margin-left: 750px;
}
.box6 h6{
  padding-left: 60px;
  color:#ffb458;
  font-size: 18px;
}
.box6 h5{
  padding-left: 60px;
  color: #fff;
  font-size: 16px;
}

.box6 h2 {
  color: #fff;
  font-size: 12px;
}

.box6 p{
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.box7 h6 {
  padding-left: 60px;
  color: #ffb458;
  font-size: 18px;
}

.box7 h5{
  padding-left: 60px;
  color: #fff;
  font-size: 16px;
}

.box7 h2{
  color: #fff;
  font-size: 12px;
}

.box7 p{
  color: #fff;
  font-size: 14px;
  margin-top: 30px;
}

.box8 {
  margin-left: 750px;
}
.box8 h6 {
  padding-left: 60px;
  color:#ffb458;
  font-size: 18px;
}

.box8 h5 {
  padding-left: 60px;
  color: #fff;
  font-size: 16px;
}

.box8 h2{
  color: #fff;
  font-size: 12px;
}

.box8 p{
  color: #fff; 
  font-size: 14px;
  margin-top: 30px;
}


/* Akhir Top Scores */

/* Tabel Requirements */
.wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin-top: 250px;
  
}

.wrapper > div {
  background: transparent;
  padding: 1em;
}

.wrapper > div:nth-child(odd){
  background:transparent;
}

.box h5 {
  color:#ffb458;
  border-style: 50%;
}

.box p{
  color: #fff;
}

.box1 {
  border-top: 1px solid #979797; 
  border-left: 1px solid #979797;
  border-right:1px solid #979797;
  opacity: 50%;
}

.box2 {
  border-top: 1px solid #979797;
  border-right:1px solid #979797;
}

.box3 {
  border-top: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right:1px solid #979797;
}

.box4 {
  border-top: 1px solid #979797;
  border-right:1px solid #979797;
}

.box5 {
  width: 200%;
  border:1px solid #979797;
}

.box1 .p {
  color: #fff;
}

#subscribe {
  background-color: #000;
  background-size: cover;
  height: 960px;
  margin-top: 0px;
  padding-top: 80px;
  padding-left: 150px;
}

#subscribe .subscribe-h3{
  color: #fff;
  padding-left:  100px;
  padding-top: 150px;
  font-family: Arial;
  font-size: 24px;
}

#subscribe .subscribe-h1{
  color: #fff;
  padding-left:  100px;
  font-family: Arial;
  font-size: 80px;
}

#subscribe .paragraf-p{
  color: #fff;
  padding-left:  100px;
  font-family: Open;
  font-size: 18px;
}

.email-box {
  height: 38px;
  display: inline-flex;
  justify-content: left;
  margin-left: 100px;
  margin-top: 45px;
}

.tbox {
  background: #ddd;
  border: solid #ddd ;
  border-radius: 5px;
  outline: none;
  width: 260px;
  padding: 0 10px;
  margin-top: -5px;
}

#subscribe .btn-tmbl {
  margin-left: 15px;
  background: #ffb458;
  font-size: 12px;
  padding:10px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 18px;
  text-align: center;
  color: #000;
  border-radius: 5px;
  font-weight: 400;
}
 

